* {
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-rows: auto;
}

main div.lable {
  display: grid;
  grid-template-columns: 20% 25% 25% 10% 10% 10%;
}

main div.row {
  display: grid;
  grid-template-columns: 20% 25% 25% 10% 10% 10%;
}
